/* CONTENTS
    body
    side navigation bar
    quote box
    images
    containers
    footer
*/

body{
  text-align: center;
}

/* side navigation bar */
#sideNav {
  background: #007718;
  height: 100%;
  position: fixed;
  top: 0;
  left: 0;
  width: 120px;
  z-index: 1;
}
#sideNav ul {
  list-style-type: none;
  height: 100%;
  margin: 0;
  padding: 0;
}
#sideNav a {
  color: white;
  display: block;
  padding: 30px;
  width: 60px;
  text-decoration: none;
}
#sideNav .active {
  background-color: lightgreen;
  color: #007718;
  font-weight: bold;
}

/* quote box */
#quoteBox {
  display: block;
  font-size: 2vw;
  font-style: Oblique;
  text-shadow: 1px 1px limegreen;
  margin: 10px auto 0 120px;
  height: auto;
  width: auto;
}


/* images */
#doc {
  height: 75%;
  width: 90%;
  margin-left: 130px;
  margin-top: 40px;
  display: inline;
  float: left;
  clear: left;
}
#amanda{
  height: 75%;
  width: 75%;
  margin-left: 140px;
  margin-top: 40px;
  display: inline;
  float: left;
  clear: left;
}
#gunilla{
  height: 75%;
  width: 75%;
  margin-left: 140px;
  margin-top: 40px;
  display: inline;
  float: left;
  clear: left;
}
#main {
  height: 300px;
  width: 550px;
  margin: 10px auto 0 100px;
}
#thumbnail {
  height: 7%;
  width: 7%;
  padding: 10px 25px 0 25px;
}
.logo {
  height: 25px;
  width: 50px;
}
.sign {
  height: 25px;
  width: 25px;
  padding-left: 5px;
}
/*trail navigation*/
#trailLinks {
  background-color: #007718;
  height: 50px;
  width: 60vw;
  padding-top: 25px;
  padding-bottom: 0;
  margin-left: 300px;
}
#trailLinks a {
  color: white;
  padding: 25px 53px 33px 50px;
  text-decoration: none;
}
#trailLinks .active {
  background-color: lightgreen;
  color: #007718;
  font-weight: bold;
}

/* containers */
#aboutTeam{
  display: grid;
  grid-template-columns: 20% 80%;
  text-align: left;
  justify-content: center;
}
#aboutStudents{
  padding-top: 75px;
}

a {
    color: #007718;
}
h1 {
    margin: 0 auto 0 120px;
    font-size: 3vw;
}
h2 {
  margin: 10px auto 0 120px;
  font-size: 1.75vw;
}
h3 {
  margin: 15px auto 0 120px;
}
p {
  margin: 25px auto 0 125px;
}
p a {
  padding: 0 25px 0 25px;
}

/* footer */
footer {
  font-size: 8px;
  margin: 25px auto 0 125px;
  position: bottom;
  text-align: center;
}
