body{
  text-align: center;
}

nav {
  background: #007718;
  height: 100%;
  position: fixed;
  top: 0;
  left: 0;
  width: 120px;
  z-index: 1;
}
  nav ul {
    list-style-type: none;
    height: 100%;
    margin: 0;
    padding: 0;
  }
  nav ul li a {
    color: white;
    display: block;
    padding: 30px;
    width: 60px;
  }

a {
    color: #007718;
}

h1 {
    margin: 0 auto 0 120px;
}

h2 {
  margin: 10px auto 0 120px;
}

h3 {
  margin: 15px auto 0 120px;
}
#quoteBox {
  display: block;
  font-size: 24px;
  font-style: Oblique;
  text-shadow: 1px 1px #007718;
  margin: 10px auto 0 120px;
  height: auto;
  width: auto;
}

#campus {
  height: 300px;
  width: 550px;
  margin: 10px auto 0 120px;
}

p {
  margin: 25px auto 0 125px;
}
p a {
  padding: 0 25px 0 25px;
}

footer {
  font-size: 10px;
  margin: 25px auto 0 125px;
}
